In [65]:
import pandas as pd
import requests
from bs4 import BeautifulSoup as bs
from splinter import Browser
import pprint as pp

In [2]:
news_url = 'https://mars.nasa.gov/news'

In [3]:
response = requests.get(news_url)

In [4]:
soup = bs(response.text, 'lxml')

In [5]:
all_titles = soup.find_all('div', class_='content_title')
latest_title = all_titles[0].text.strip()
latest_title

'NASA Invites Students to Name Mars 2020 Rover'

In [6]:
paragraphs = soup.find_all('div', class_='rollover_description_inner')
latest_paragraph = paragraphs[0].text

In [7]:
print(latest_paragraph)

Through Nov. 1, K-12 students in the U.S. are encouraged to enter an essay contest to name NASA's next Mars rover.

In [8]:
executable_path = {'executable_path': '/usr/local/bin/chromedriver'}
browser = Browser('chrome', **executable_path, headless=False)

In [9]:
image_url = 'https://www.jpl.nasa.gov/spaceimages/?search=&category=Mars'
browser.visit(image_url)

In [10]:
image_html = browser.html

In [11]:
soup_two = bs(image_html, 'lxml')

In [26]:
featured_images = soup_two.find('a', class_='button fancybox')

In [27]:
featured_images

<a class="button fancybox" data-description="NASA's Kepler mission compares artist's concepts of the planets in the Kepler-37 system to the moon and planets in the solar system. The smallest planet, Kepler-37b, is slightly larger than our moon." data-fancybox-group="images" data-fancybox-href="/spaceimages/images/mediumsize/PIA16694_ip.jpg" data-link="/spaceimages/details.php?id=PIA16694" data-title="A Moon-size Line Up (Artist's Concept)" id="full_image">
					FULL IMAGE
				  </a>

In [30]:
x = featured_images.get('data-fancybox-href')
x

'/spaceimages/images/mediumsize/PIA16694_ip.jpg'

In [31]:
featured_image_url = 'https://www.jpl.nasa.gov' + x
featured_image_url

'https://www.jpl.nasa.gov/spaceimages/images/mediumsize/PIA16694_ip.jpg'

In [32]:
twitter_url = 'https://twitter.com/marswxreport?lang=en'

In [33]:
response_t = requests.get(twitter_url)

In [34]:
soup_three = bs(response_t.text, 'html.parser')

In [35]:
all_tweets = soup_three.find_all('div', class_='js-tweet-text-container')

In [36]:
mars_weather = all_tweets[0].p.text
mars_weather

'InSight sol 307 (2019-10-08) low -102.0ºC (-151.6ºF) high -26.8ºC (-16.3ºF)\nwinds from the SSE at 4.9 m/s (11.1 mph) gusting to 18.4 m/s (41.1 mph)\npressure at 7.20 hPapic.twitter.com/JJhiWjVPY6'

In [37]:
mars_facts_url = 'https://space-facts.com/mars/'

In [38]:
tables = pd.read_html(mars_facts_url)
tables

[  Mars - Earth Comparison             Mars            Earth
 0               Diameter:         6,779 km        12,742 km
 1                   Mass:  6.39 × 10^23 kg  5.97 × 10^24 kg
 2                  Moons:                2                1
 3      Distance from Sun:   227,943,824 km   149,598,262 km
 4         Length of Year:   687 Earth days      365.24 days
 5            Temperature:    -153 to 20 °C      -88 to 58°C,
                       0                              1
 0  Equatorial Diameter:                       6,792 km
 1       Polar Diameter:                       6,752 km
 2                 Mass:  6.39 × 10^23 kg (0.11 Earths)
 3                Moons:            2 (Phobos & Deimos)
 4       Orbit Distance:       227,943,824 km (1.38 AU)
 5         Orbit Period:           687 days (1.9 years)
 6  Surface Temperature:                   -87 to -5 °C
 7         First Record:              2nd millennium BC
 8          Recorded By:           Egyptian astronomers]

In [39]:
df = tables[1]
df

                      0                              1
0  Equatorial Diameter:                       6,792 km
1       Polar Diameter:                       6,752 km
2                 Mass:  6.39 × 10^23 kg (0.11 Earths)
3                Moons:            2 (Phobos & Deimos)
4       Orbit Distance:       227,943,824 km (1.38 AU)
5         Orbit Period:           687 days (1.9 years)
6  Surface Temperature:                   -87 to -5 °C
7         First Record:              2nd millennium BC
8          Recorded By:           Egyptian astronomers

In [40]:
html_table = df.to_html()
html_table

'<table border="1" class="dataframe">\n  <thead>\n    <tr style="text-align: right;">\n      <th></th>\n      <th>0</th>\n      <th>1</th>\n    </tr>\n  </thead>\n  <tbody>\n    <tr>\n      <th>0</th>\n      <td>Equatorial Diameter:</td>\n      <td>6,792 km</td>\n    </tr>\n    <tr>\n      <th>1</th>\n      <td>Polar Diameter:</td>\n      <td>6,752 km</td>\n    </tr>\n    <tr>\n      <th>2</th>\n      <td>Mass:</td>\n      <td>6.39 × 10^23 kg (0.11 Earths)</td>\n    </tr>\n    <tr>\n      <th>3</th>\n      <td>Moons:</td>\n      <td>2 (Phobos &amp; Deimos)</td>\n    </tr>\n    <tr>\n      <th>4</th>\n      <td>Orbit Distance:</td>\n      <td>227,943,824 km (1.38 AU)</td>\n    </tr>\n    <tr>\n      <th>5</th>\n      <td>Orbit Period:</td>\n      <td>687 days (1.9 years)</td>\n    </tr>\n    <tr>\n      <th>6</th>\n      <td>Surface Temperature:</td>\n      <td>-87 to -5 °C</td>\n    </tr>\n    <tr>\n      <th>7</th>\n      <td>First Record:</td>\n      <td>2nd millennium BC</td>\n    </tr>\n    <tr>\n      <th>8</th>\n      <td>Recorded By:</td>\n      <td>Egyptian astronomers</td>\n    </tr>\n  </tbody>\n</table>'

In [69]:
html_table = html_table.replace('\n', '')
html_table

'<table border="1" class="dataframe">  <thead>    <tr style="text-align: right;">      <th></th>      <th>0</th>      <th>1</th>    </tr>  </thead>  <tbody>    <tr>      <th>0</th>      <td>Equatorial Diameter:</td>      <td>6,792 km</td>    </tr>    <tr>      <th>1</th>      <td>Polar Diameter:</td>      <td>6,752 km</td>    </tr>    <tr>      <th>2</th>      <td>Mass:</td>      <td>6.39 × 10^23 kg (0.11 Earths)</td>    </tr>    <tr>      <th>3</th>      <td>Moons:</td>      <td>2 (Phobos &amp; Deimos)</td>    </tr>    <tr>      <th>4</th>      <td>Orbit Distance:</td>      <td>227,943,824 km (1.38 AU)</td>    </tr>    <tr>      <th>5</th>      <td>Orbit Period:</td>      <td>687 days (1.9 years)</td>    </tr>    <tr>      <th>6</th>      <td>Surface Temperature:</td>      <td>-87 to -5 °C</td>    </tr>    <tr>      <th>7</th>      <td>First Record:</td>      <td>2nd millennium BC</td>    </tr>    <tr>      <th>8</th>      <td>Recorded By:</td>      <td>Egyptian astronomers</td>    </tr>  </tbody></table>'

In [42]:
cerberus_link = 'https://astrogeology.usgs.gov/search/map/Mars/Viking/cerberus_enhanced'
schiaparelli_link = 'https://astrogeology.usgs.gov/search/map/Mars/Viking/schiaparelli_enhanced'
syrtis_major_link = 'https://astrogeology.usgs.gov/search/map/Mars/Viking/syrtis_major_enhanced'
valles_marineris_link = 'https://astrogeology.usgs.gov/search/map/Mars/Viking/valles_marineris_enhanced'

In [43]:
response_cerberus = requests.get(cerberus_link)
response_schiaparelli = requests.get(schiaparelli_link)
response_syrtis_major = requests.get(syrtis_major_link)
response_valles_marineris = requests.get(valles_marineris_link)

In [51]:
soup_cerberus = bs(response_cerberus.text, 'html.parser')
soup_schiaparelli = bs(response_schiaparelli.text, 'html.parser')
soup_syrtis_major = bs(response_syrtis_major.text, 'html.parser')
soup_valles_marineris = bs(response_valles_marineris.text, 'html.parser')

In [50]:
cerberus = soup_cerberus.find('img', class_='wide-image').get('src')
schiaparelli = soup_schiaparelli.find('img', class_='wide-image').get('src')
syrtis_major = soup_syrtis_major.find('img', class_='wide-image').get('src')
valles_marineris = soup_valles_marineris.find('img', class_='wide-image').get('src')

AttributeError: 'NoneType' object has no attribute 'get'

In [52]:
cerberus_image = 'https://astrogeology.usgs.gov' + cerberus
schiaparelli_image = 'https://astrogeology.usgs.gov' + schiaparelli
syrtis_major_image = 'https://astrogeology.usgs.gov' + syrtis_major
valles_marineris_image = 'https://astrogeology.usgs.gov' + valles_marineris

TypeError: can only concatenate str (not "ResultSet") to str

In [53]:
hemisphere_image_urls = [
    {"title": "Cerberus Hemisphere", "img_url": cerberus_image},
    {"title": "Schiaparelli Hemisphere", "img_url": schiaparelli_image},
    {"title": "Syrtis Major Hemisphere", "img_url": syrtis_major_image},
    {"title": "Valles Marineris Hemisphere", "img_url": valles_marineris_image}
]

NameError: name 'cerberus_image' is not defined